@model CheckoutViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
</head>
<body>
    <h1>Checkout Details</h1>
    <p>First Name: @Model.FirstName</p>
    <p>Last Name: @Model.LastName</p>
    <p>Phone: @Model.Phone</p>
    <p>Address: @Model.Address</p>
    <p>Payment Method: @Model.PaymentMethod</p>
    <p>Product ID: @Model.ProductId</p>
    <p>Product Size: @Model.ProductSize</p>
    <p>Summ: @Model.Summ</p>
</body>
</html>
